.feed-page{
    padding-left: 64px;
    padding-top: 16px;
    padding-bottom: 32px;
    padding-right: 64px;
    font-size: 1rem;
    
}
h2{
    font-size: 2rem;
    font-weight: bold;

}